<h2 mat-dialog-title>{{data.title}}</h2>

<mat-divider></mat-divider>
<br />

<div mat-dialog-content>

    {{data.message}}

    <!-- One input field -->
    <mat-form-field>
      <input matInput [(ngModel)]="data.name">
    </mat-form-field>

</div>

<br />


<div mat-dialog-actions>

  <button mat-button (click)="onCancel()">Cancel</button>

  <!-- cdkFocusInitial -->
  <!-- The mat-dialog-close directive optionally accepts a value
  as a result for the dialog. -->
  <button mat-button [disabled]="data.name ? false : true" [mat-dialog-close]="data.name" >OK</button>

</div>




<!-- <div mat-dialog-actions *ngIf="data.showActions" style="margin:0"> -->

  <!-- <button mat-button mat-dialog-close>No</button> -->

  <!-- The mat-dialog-close directive optionally accepts a value
  as a result for the dialog. -->
  <!-- <button mat-button [mat-dialog-close]="true">Yes</button> -->

<!-- </div> -->
