// only wirksam for OLD Version !!!
// new version: styling in dynForm scss!





// not used here - delete - only needed for old version!
.flex-box {

  display: flex;

  flex-direction: row;
  justify-content: flex-start; // horizontal
  align-items: center; // vertical
  flex-wrap: wrap; // default = nowrap

  font-size: 14px;
  padding: 16px 8px 16px 24px;

  .mat-form-field, w3s-dynamic-form-question {
    flex: 1;
    margin-right: 10px;
  }

  button {
    flex: 0;
    margin-right: 10px;
  }

}

.mat-form-field {
  margin-right: 10px;
}

