<mat-tab-group dynamicHeight="true">


  <mat-tab label="Basic Data">

    <!-- ############################################################ -->
    <!--                        Dynamic Version                       -->
    <!-- ############################################################ -->

    <div class="w3s-detail-component mat-elevation-z8">

      <div style="padding:30px 30px;">


        <!-- <h5>{{title}}</h5> -->

        <!-- ========================================================== -->
        <!-- Generating the customer dynamic form. -->
        <!-- ========================================================== -->

        <w3s-dynamic-form #customerForm *ngIf="customerQuestions" [questions]="customerQuestions" [options]="customerFormOptions" [dataGroupNames]="dataGroupNames" [title]="title" (formSubmit)="onCustomerFormSubmit($event)">

        </w3s-dynamic-form>

        <!-- ========================================================== -->



        <br>
        <div class="nix-flex-box">

          <!-- [mat-dialog-close]="customer" only for closing dialog window -->
          <button type="button" mat-raised-button (click)="returnToList()" matTooltip="Cancel changes and go back.">
            Cancel
          </button>&nbsp;

          <!-- Create or update customer -->
          <button type="button" mat-raised-button color="primary" (click)="updateCustomer(customer)" [disabled]="!customerFormHasChanged" matTooltip="Save changes and go back.">
            Save
          </button>

        </div> <!-- End flex-box -->


        <!-- <div *ngIf="showTestValues"  class="w3s-show-test-values">
          <br>########## customer:<br> {{customer | json}}
          <br>########## customerForm?.form?.value:<br> {{customerForm?.form?.value  | json}}
          <br><br>
        </div> -->


      </div>
    </div>


  </mat-tab>








  <mat-tab label="Orders"> Content 2 </mat-tab>

  <mat-tab label="Invoices"> Content 3 </mat-tab>

  <mat-tab label="Accounting"> Content 3 </mat-tab>

  <mat-tab label="Statistics"> Content 3 </mat-tab>


</mat-tab-group>


