<mat-tab-group dynamicHeight="true">


  <mat-tab label="Basic Data">


    <div class="w3s-detail-component mat-elevation-z8">

      <!-- Back/Cancel/Save buttons -->
      <!-- ######################################################## -->
      <!-- At the beginning *and* at the end! -->

      <div class="button-bar">

        <div class="special-font">
          <!-- Create/Update Product -->
          {{title}}
        </div>

        <div class="push-right">
          <button type="button" mat-raised-button (click)="navigateToList(product)" matTooltip="Go back.">
            Back
          </button>
        </div>

        <!-- [mat-dialog-close]="product" only for closing dialog window -->
        <button type="button" mat-raised-button [disabled]="!productForm?.form.dirty" (click)="navigateToList(product)" matTooltip="Cancel changes and go back.">
          Cancel
        </button>

        <!-- Create or update product -->
        <!-- productForm.form.getRawValue() = actual values of product -->
        <!-- [disabled]="!productFormHasChanged" -->
        <!-- Compare with product-filter-template.component.html -->

        <button type="button" mat-raised-button color="primary" [disabled]="!productForm?.form.valid || !productForm?.form.dirty" (click)="product.id ? updateProduct() : createProduct()" matTooltip="Save changes and go back.">
          Save
        </button>

      </div>
      <mat-divider></mat-divider>



      <!-- Product detail form -->
      <!-- ######################################################## -->

      <div class="product-form">

        <!-- ====================================================== -->

        <w3s-dynamic-form #productForm *ngIf="productQuestions" [questions]="productQuestions" [options]="productFormOptions" [dataGroupNames]="dataGroupNames" [title]="title" (formSubmit)="onProductFormSubmit($event)">

          <!-- ==================================================== -->

        </w3s-dynamic-form>

      </div>





      <br>

      <!-- Back/Cancel/Save buttons -->
      <!-- ######################################################## -->
      <!-- At the beginning *and* at the end! -->

      <div class="button-bar">

        <button type="button" mat-raised-button (click)="navigateToList(product)" matTooltip="Go back.">
          Back
        </button>

        <!-- [mat-dialog-close]="product" only for closing dialog window -->
        <button type="button" mat-raised-button [disabled]="!productForm?.form.dirty" (click)="navigateToList(product)" matTooltip="Cancel changes and go back.">
          Cancel
        </button>

        <!-- Create or update product -->
        <!-- productForm.form.getRawValue() = actual values of product -->
        <!-- [disabled]="!productFormHasChanged" -->
        <!-- Compare with product-filter-template.component.html -->

        <button type="button" mat-raised-button color="primary" [disabled]="!productForm?.form.valid || !productForm?.form.dirty" (click)="product.id ? updateProduct() : createProduct()" matTooltip="Save changes and go back.">
          Save
        </button>

      </div>




      <div *ngIf="showTestValues" class="w3s-show-test-values">

        <br>########## product:<br> {{product | json}}
        <!-- This causes ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked.  -->
        <!-- <br>########## productForm?.form.value:<br> {{productForm?.form.value  | json}} -->
        <br><br>

      </div>


      <!-- </div> -->
    </div>


  </mat-tab>








  <mat-tab label="Orders"> Content 2 </mat-tab>

  <mat-tab label="Invoices"> Content 3 </mat-tab>

  <mat-tab label="Accounting"> Content 3 </mat-tab>

  <mat-tab label="Statistics"> Content 3 </mat-tab>


</mat-tab-group>
