.flex-box {

  display: flex;

  flex-direction: row;
  justify-content: flex-start; // horizontal
  align-items: center; // vertical
  flex-wrap: wrap; // default = nowrap

  font-size: 14px;
  // padding: 16px 8px 16px 24px;
  padding-top: 16px;

  .mat-form-field {
    // flex: 1;

    flex: 0 0 315px;

    // margin-right: 30px;
    // max-width: 400px;
  }

}


// see dynamic-form-component.scss -> w3s-dynamic-form-question { ... }
.mat-form-field {
  margin-right: 30px; // w3s-dynamic-form-question already has margin-right
  // display: inherit;
  display: block;
  // max-width: 400px;
}

.hide {
  display: none;
}

// textarea:disabled {
//   display: none;
// }
// .form-control:disabled {
//   display: none;
// }

// To avoid that user agent stylesheet sets display: block
// (when div isn't set anywhere!?)
// Solved by ng-container (no add div's)
// div {
//   display: inherit;
// }



// .checkbox {
//   display: flex;

//   flex-direction: column;
//   align-items: center; // vertical
//   justify-content: flex-start; // horizontal
//   flex-wrap: wrap; // default = nowrap

//   font-size: 14px;
//   // padding-bottom: 16px; // 8px 16px 24px;
// }

// // // test
// // .flex-box {
// //   display: flex;

// //   flex-direction: row;
// //   align-items: center; // vertical
// //   justify-content: flex-start; // horizontal
// //   flex-wrap: wrap; // default = nowrap

// //   font-size: 14px;
// //   // padding-bottom: 16px; // 8px 16px 24px;
// // }
