<div [formGroup]="form">


  <!-- ########################################################## -->
  <!-- Handling a question according to its controlType -->
  <!-- ########################################################## -->

  <div [ngSwitch]="question.controlType">


    <!-- ========================================================== -->
    <!-- Question controlType === 'textbox' -->
    <!-- ========================================================== -->

    <mat-form-field *ngSwitchCase="'textbox'" [class.hide]="question.isDisabled">

      <textarea matInput [formControlName]="question.key" [id]="question.key" [type]="question.inputType" [w3sHighlight]="'yellow'"></textarea>

      <mat-hint align="start">{{question.label}}</mat-hint>
      <!-- <mat-error *ngIf="!isValid"> -->
      <mat-error>{{question.label}} is required</mat-error>

    </mat-form-field>


    <!-- ========================================================== -->
    <!-- Question controlType === 'dropdown' -->
    <!-- ========================================================== -->

    <mat-form-field *ngSwitchCase="'dropdown'" [class.hide]="question.isDisabled">

      <mat-select [formControlName]="question.key" [id]="question.key">
        <mat-option *ngFor="let option of question.options" [value]="option.key">{{option.value}}</mat-option>
      </mat-select>

      <mat-hint align="start">{{question.label}}</mat-hint>
      <mat-error>{{question.label}} is required</mat-error>

    </mat-form-field>


    <!-- ========================================================== -->
    <!-- Question controlType === 'checkbox' -->
    <!-- checkbox not allowed inside mat-form-field -->
    <!-- ========================================================== -->

    <div *ngSwitchCase="'checkbox'" [class.hide]="question.isDisabled">

      <mat-checkbox [formControlName]="question.key" [id]="question.key">{{question.label}}</mat-checkbox>

    </div>




    <!-- ========================================================== -->
    <!-- Question controlType === 'formArray' -->
    <!-- ========================================================== -->

    <div *ngSwitchCase="'formArray'">

      <div *ngIf="getFormArray()" [formArrayName]="question.key">

        <div *ngFor="let control of getFormArray().controls; let i=index" [formGroupName]="i">

          <div *ngFor="let nestedQuestion of question.nestedQuestions">

            <div [ngSwitch]="nestedQuestion.controlType">

              <mat-form-field *ngSwitchCase="'textbox'" [class.hide]="nestedQuestion.isDisabled">

                <textarea matInput [formControlName]="nestedQuestion.key" [id]="nestedQuestion.key" [type]="nestedQuestion.inputType" [w3sHighlight]="'yellow'"></textarea>

                <mat-hint align="start">{{nestedQuestion.label}}</mat-hint>
                <!-- <mat-error *ngIf="!isValid"> -->
                <mat-error>{{nestedQuestion.label}} is required</mat-error>

              </mat-form-field>

            </div>

          </div>

          <br>

        </div>

        <br>
        <button mat-raised-button color="nixprimary" (click)="addFormGroup()">Add Address</button>


        <br>***getFormArray() = form.get(this.question.key) as FormArray:<br>  {{getFormArray()}}
        <br>***question.nestedQuestions:<br> {{question.nestedQuestions | json}}

      </div>


    </div>


    <!-- ========================================================== -->
    <!-- All question controlTypes should have been handled -->
    <!-- ========================================================== -->

    <div *ngSwitchDefault>

    </div>


  </div> <!-- End of ngSwitch -->


</div>
