<!-- <div> -->
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let dynamicField of dynamicFields">

      <!-- ################################################ -->

      <w3s-dynamic-field [dynamicField]="dynamicField" [form]="form">

      </w3s-dynamic-field>

      <!-- ################################################ -->

    </div>


        <button type="submit" mat-raised-button matTooltip="Start Searching" [disabled]="!form.valid">Search</button>


  </form>

  <!-- <div *ngIf="payLoad">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div> -->

<!-- </div> -->
