<!-- <div [formGroup]="form"> -->


<!-- Handling a question according to its controlType -->
<!-- ########################################################## -->


<ng-container [ngSwitch]="question.controlType" [formGroup]="form">


  <!-- ========================================================== -->
  <!-- Question controlType === 'textbox' -->
  <!-- ========================================================== -->

  <ng-container *ngSwitchCase="'textbox'">

    <mat-form-field *ngIf="(question.inputType === 'number' || question.inputType === 'text')" [class.hide]="question.isDisabled" [appearance]="options.formFieldAppearance">

      <mat-label>{{question.label}}</mat-label>

      <input matInput [formControlName]="question.name" [id]="question.name" [type]="question.inputType" [readonly]="question.isReadonly" [required]="question.isRequired" [matTooltip]="question.tooltip">
      <!-- [matTooltip]="question.tooltip" not working!? -->

      <mat-hint align="start">{{question.hint}}</mat-hint>

      <!-- <mat-error>{{question.label}} is required</mat-error> -->
      <mat-error *ngIf="isInvalid">{{getErrorMessage()}}</mat-error>


    </mat-form-field>

  </ng-container>


  <ng-container *ngSwitchCase="'textbox'">

    <mat-form-field *ngIf="question.inputType === 'date'" [class.hide]="question.isDisabled" [appearance]="options.formFieldAppearance">

      <mat-label>{{question.label}}</mat-label>

      <input matInput [formControlName]="question.name" [id]="question.name" [readonly]="question.isReadonly" [required]="question.isRequired" [matDatepicker]="datepicker">
      <!-- [type]="question.inputType" -->
      <!-- [matTooltip]="question.tooltip" -->
      <!-- Prevents certain dates from being selected from the datepicker. -->
      <!-- [matDatepickerFilter]="datepickerFilter" -->

      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>

      <mat-hint align="start">{{question.hint}}</mat-hint>

      <mat-error *ngIf="isInvalid">{{getErrorMessage()}}</mat-error>

    </mat-form-field>

  </ng-container>


  <ng-container *ngSwitchCase="'textbox'">

    <mat-form-field *ngIf="(question.inputType === 'email')" [class.hide]="question.isDisabled" [appearance]="options.formFieldAppearance">

      <mat-label>{{question.label}}</mat-label>

      <input matInput [formControlName]="question.name" [id]="question.name" [readonly]="question.isReadonly" [required]="question.isRequired" [matTooltip]="question.tooltip">
      <!-- [type]="question.inputType"  -->

      <mat-hint align="start">{{question.hint}}</mat-hint>

      <mat-error *ngIf="isInvalid">{{getErrorMessage()}}</mat-error>

    </mat-form-field>

  </ng-container>


  <ng-container *ngSwitchCase="'textbox'">

    <mat-form-field *ngIf="question.inputType === 'textarea'" [class.hide]="question.isDisabled" [appearance]="options.formFieldAppearance">

      <mat-label>{{question.label}}</mat-label>

      <textarea matInput [formControlName]="question.name" [id]="question.name" [type]="question.inputType" [readonly]="question.isReadonly" [required]="question.isRequired" [matTooltip]="question.tooltip" rows="1" cols="200" [w3sHighlight]="'yellow'">

          </textarea>

      <mat-hint align="start">{{question.hint}}</mat-hint>

      <mat-error *ngIf="isInvalid">{{getErrorMessage()}}</mat-error>


    </mat-form-field>

  </ng-container>



  <!-- ========================================================== -->
  <!-- Question controlType === 'dropdown' -->
  <!-- ========================================================== -->

  <mat-form-field *ngSwitchCase="'dropdown'" [class.hide]="question.isDisabled" [appearance]="options.formFieldAppearance">

    <mat-label>{{question.label}}</mat-label>

    <mat-select [formControlName]="question.name" [id]="question.name" [required]="question.isRequired">
      <mat-option *ngFor="let option of question.options" [value]="option.key">{{option.value}}</mat-option>
    </mat-select>

    <mat-hint align="start">{{question.hint}}</mat-hint>

    <mat-error *ngIf="isInvalid">{{getErrorMessage()}}</mat-error>

  </mat-form-field>



  <!-- ========================================================== -->
  <!-- Question controlType === 'checkbox' -->
  <!-- checkbox not allowed inside mat-form-field -->
  <!-- ========================================================== -->

  <ng-container *ngSwitchCase="'checkbox'">

    <mat-checkbox [formControlName]="question.name" [id]="question.name" [class.hide]="question.isDisabled">{{question.label}}</mat-checkbox>

  </ng-container>



  <!-- ========================================================== -->
  <!-- Question controlType === 'formArray' -->
  <!-- ========================================================== -->

  <ng-container *ngSwitchCase="'formArray'">

    <ng-container *ngIf="getFormArray()" [formArrayName]="question.name">

      <ng-container *ngFor="let control of getFormArray().controls; let i=index" [formGroupName]="i">

        <!-- The repeated form group template -->

        <div class="flex-box">

          <ng-container *ngFor="let nestedQuestion of question.nestedQuestions">

            <ng-container [ngSwitch]="nestedQuestion.controlType">



              <!-- = copy of textbox above, + replace question with nestedQuestion -->

              <mat-form-field *ngSwitchCase="'textbox'" [class.hide]="nestedQuestion.isDisabled" appearance="fill">

                <mat-label>{{question.label}}</mat-label>

                <input matInput [formControlName]="nestedQuestion.name" [id]="nestedQuestion.name" [type]="nestedQuestion.inputType" [readonly]="nestedQuestion.isReadonly" [required]="nestedQuestion.isRequired" [matTooltip]="nestedQuestion.tooltip">

                <!-- TODO <mat-error *ngIf="isInvalid">{{getErrorMessage()}}</mat-error> -->
                <mat-error>{{nestedQuestion.label}} is required</mat-error>

              </mat-form-field>




              <!-- TODO textarea analog textbox above -->
              <!-- <mat-form-field *ngSwitchCase="'textbox'" [class.hide]="nestedQuestion.isDisabled"> -->

              <!-- <textarea matInput [formControlName]="nestedQuestion.name" [id]="nestedQuestion.name" [type]="nestedQuestion.inputType" [w3sHighlight]="'yellow'"></textarea> -->

              <!-- <mat-hint align="start">{{nestedQuestion.label}}</mat-hint> -->
              <!-- <mat-error>{{nestedQuestion.label}} is required</mat-error> -->

              <!-- </mat-form-field> -->


            </ng-container>

          </ng-container>

        </div>


      </ng-container>

      <br>
      <button mat-raised-button color="nixprimary" (click)="addFormGroup()">Add Address</button>




      <div *ngIf="showTestValues" class="w3s-show-test-values">

        <br>########## getFormArray().controls = ?form.get(this.question.name) as FormArray:<br> {{getFormArray().controls}}
        <br>########## question.nestedQuestions = <br> {{question.nestedQuestions | json}}

      </div>

    </ng-container>


  </ng-container> <!-- End of ngSwitchCase formArray -->


  <!-- ========================================================== -->
  <!-- All relevant question controlTypes should have been handled -->
  <!-- ========================================================== -->

  <ng-container *ngSwitchDefault>

  </ng-container>


</ng-container> <!-- End of ngSwitch -->


<!-- </div> -->
