<div [formGroup]="form">


  <div [ngSwitch]="dynamicField.controlType">

    <mat-form-field>

      <input *ngSwitchCase="'textbox'"   matInput [formControlName]="dynamicField.id" [id]="dynamicField.id" [type]="dynamicField.inputType" [w3sHighlight]="'yellow'">


      <mat-select *ngSwitchCase="'dropdown'" [formControlName]="dynamicField.id" [id]="dynamicField.id">
        <mat-option *ngFor="let option of dynamicField.selectOptions" [value]="option.key">{{option.value}}</mat-option>
      </mat-select>


      <mat-hint align="start">{{dynamicField.label}}</mat-hint>

      <!-- <mat-error *ngIf="!isValid"> -->

      <mat-error>{{dynamicField.label}} is required</mat-error>

    </mat-form-field>

  </div>

</div>
