<!-- <div> -->
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let dynamicFormField of dynamicFormFields">

      <!-- ################################################ -->

      <w3s-dynamic-form-field [dynamicFormField]="dynamicFormField" [form]="form">

      </w3s-dynamic-form-field>

      <!-- ################################################ -->

    </div>


        <button type="submit" mat-raised-button matTooltip="Start Searching" [disabled]="!form.valid">Search</button>


  </form>

  <!-- <div *ngIf="payLoad">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div> -->

<!-- </div> -->
