<div [formGroup]="form">


  <div [ngSwitch]="dynamicFormField.controlType">

    <mat-form-field>

      <input *ngSwitchCase="'textbox'"   matInput [formControlName]="dynamicFormField.id" [id]="dynamicFormField.id" [type]="dynamicFormField.inputType" [w3sHighlight]="'yellow'">


      <mat-select *ngSwitchCase="'dropdown'" [formControlName]="dynamicFormField.id" [id]="dynamicFormField.id">
        <mat-option *ngFor="let option of dynamicFormField.selectOptions" [value]="option.key">{{option.value}}</mat-option>
      </mat-select>


      <mat-hint align="start">{{dynamicFormField.label}}</mat-hint>

      <!-- <mat-error *ngIf="!isValid"> -->

      <mat-error>{{dynamicFormField.label}} is required</mat-error>

    </mat-form-field>

  </div>

</div>
