// ####################################################################
// Fixed top mat-toolbar
// ####################################################################

.mat-toolbar.mat-primary {
  position: fixed; // sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


// ####################################################################
// Fixed left mat-sidenav
// ####################################################################

.w3s-app-component .mat-sidenav {
  margin-top: 64px;
  padding-left: 0; //20px;
  width: 220px;
}


.w3s-app-component .mat-sidenav .mat-expansion-panel {
  margin-top: 3px;
  padding-left: 0; //8px;
}

// in global styles.scss
// because .mat-expansion-panel-body does not exist locally
// .w3s-app-component .mat-sidenav .mat-expansion-panel-body {
//   padding-left: 0; // isn't recognized
// }

.w3s-app-component .mat-sidenav .mat-nav-list {
  padding: 0 0 0 12px; //orig: 0 16
}

.w3s-app-component .mat-sidenav .mat-nav-list .mat-list-item {
  font-size: 15px; //orig: 16
  height: 35px; //orig: 48
  padding: 0;
}

.mat-sidenav h6 {
  margin: 40px 0 20px 20px;
}


// in global styles.scss
// because .mat-list-item-content does not exist locally
// .mat-list-item-content {
//   padding: 0;
// }



// ####################################################################
// Relative positioned mat-sidenav-content
// ####################################################################

// .w3s-app-component .mat-sidenav-container {
//   position: fixed; must be relative!
//   top: 0;
//   left: 0;
//   margin-top: 64px;
//   height: 100%;
// }

.w3s-app-component .mat-sidenav-content {
  // position: relative; // = default!
  margin-top: 64px; // = height of fixed top mat-toolbar
  // margin-left: 220px; // = width of fixed left mat-sidenav // = default!
}






// ####################################################################
// mat-toolbar
// ####################################################################

.mat-toolbar .title {
  font-size: 16px;
  // margin-left: 15px;
  margin-right: 40px;
  cursor: pointer;
  padding: 0 22px;
}

.mat-toolbar .description {
  flex: 1 1 auto;
  // justify-content: center; //  items justified toward the center of the container
  text-align: center; // item content aligned horizontally
  font-size: 18px;
  margin-right: 15px;
  cursor: pointer;
  padding: 0 10px;

  a {
    color: white;
    text-decoration: none;
  }
}

.mat-toolbar .github img {
  padding: 0 0 4px 10px;
}

.mat-toolbar .github span {
  font-size: 15px;
  color: white;
  padding: 0 30px 0 10px
}



// .flex-box {
//   // width: 100%;
//   margin:auto;

//   display: flex;
//   flex-direction: row;
//   align-items: center; // vertical
//   justify-content: flex-start; // horizontal
//   flex-wrap: wrap; // default = nowrap

//   // font-size: 14px;
//   // padding: 16px 8px 16px 24px;

//   div {
//     margin-left: 30px;
//     margin-right: 230px;
//     flex: 1 1 auto;
//   }
// }


// .fill-remaining-space {
//   /* This fills the remaining space, by using flexbox.
//      Every toolbar row uses a flexbox row layout. */
//   flex: 1 1 auto;
// }
