<!-- ################################################ -->
<!-- Fixed toolbar -->
<!-- ################################################ -->

<mat-toolbar color="primary">
  <!-- *nixngIf="isSmallScreen | async" -->
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenavRef.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span mat-list-item routerLink="/" class="mat-button"> w3sDesign </span>
  <span mat-list-item routerLink="/customers" class="mat-button"> Components </span>
</mat-toolbar>

<!-- ################################################ -->
<!-- sidenav container -->
<!-- ################################################ -->

<mat-sidenav-container class="sidenav-container">


  <!-- ################################################ -->
  <!-- left sidenav -->
  <!-- ################################################ -->

  <mat-sidenav #sidenavRef class="sidenav" fixedInViewport="true" [attr.role]="(isSmallScreen | async) ? 'dialog':'navigation'" [mode]="(isSmallScreen | async) ? 'side' : 'side'" [opened]="openSideNav ? !(isSmallScreen | async) : false">

    <mat-toolbar>Menu</mat-toolbar>

    <mat-nav-list>
      <h6>Data Maintenance</h6>
      <hr>

      <a mat-list-item routerLink="/customers">Customers</a>
      <a mat-list-item routerLink="/customers">Product</a>

      <hr>
      <h6>ERP / E-Commerce</h6>
      <hr>

      <a mat-list-item routerLink="/customers">Sales Order</a>
      <a mat-list-item routerLink="/customers">Purchase Order</a>

    </mat-nav-list>

  </mat-sidenav>


  <!-- ################################################ -->
  <!-- main content -->
  <!-- ################################################ -->

  <mat-sidenav-content>

    <router-outlet></router-outlet>

  </mat-sidenav-content>


</mat-sidenav-container>
