<div class="w3s-app-component">

  <!-- ################################################ -->
  <!-- Fixed top toolbar -->
  <!-- ################################################ -->

  <!-- mat-toolbar = flex-box -->
  <mat-toolbar color="primary" class="mat-elevation-z6">

    <!-- *ngIf="isSmallScreen | async" -->
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenavRef.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <div routerLink="/" class="title"> {{title}} </div>

    <div routerLink="/customers" class="description">{{description}}</div>

    <div class="description">
      <a href="https://w3sdesign.com">Design Patterns</a>
    </div>

    <div>
      <a class="github" href="https://github.com/w3sdesign/w3s-reference-app">
        <img alt="w3sDesign" src="../../../assets/img/github-mark-32px.png">
        <span>GitHub</span>
      </a>
    </div>

  </mat-toolbar>



  <!-- ############################################################## -->
  <!-- sidenav container -->
  <!-- ############################################################## -->

  <mat-sidenav-container>


    <!-- ############################################################ -->
    <!-- Fixed left sidenav -->
    <!-- ############################################################ -->

    <!-- mat-sidenav mode: over (=default) | push | side (=side by side with main content) -->
    <!-- [mode]="(isSmallScreen | async) ? 'side' : 'side'" -->
    <!-- Open side nav only if not small screen (small = max-width: 1023px). -->

    <mat-sidenav id="sidenav" #sidenavRef fixedInViewport="true" mode="side" [opened]="openSideNav ? !(isSmallScreen | async) : false" [attr.role]="(isSmallScreen | async) ? 'dialog':'navigation'">


      <h6>MASTER DATA</h6>

      <mat-expansion-panel>

        <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
          <mat-panel-title>
            Customers
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <a mat-list-item routerLink="/customers">Manage Customers</a>
          <a mat-list-item routerLink="/customers"> More . . .</a>
        </mat-nav-list>
        <!-- </mat-expansion-panel-body> -->

      </mat-expansion-panel>


      <mat-expansion-panel>

        <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
          <mat-panel-title>
            Suppliers
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <a mat-list-item routerLink="/customers">Manage Suppliers</a>
          <a mat-list-item routerLink="/customers"> More . . .</a>
        </mat-nav-list>
        <!-- </mat-expansion-panel-body> -->

      </mat-expansion-panel>


      <mat-expansion-panel>

        <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
          <mat-panel-title>
            Products
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <a mat-list-item routerLink="/products">Manage Products</a>
          <a mat-list-item routerLink="/products"> More . . .</a>
        </mat-nav-list>

      </mat-expansion-panel>



      <h6>ERP / E-COMMERCE</h6>

      <mat-expansion-panel>

        <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
          <mat-panel-title>
            Sales Order
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <a mat-list-item routerLink="/customers">Sales Order</a>
          <a mat-list-item routerLink="/filter-customers">Line Items</a>
        </mat-nav-list>

      </mat-expansion-panel>


      <mat-expansion-panel>

        <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
          <mat-panel-title>
            Purchase Order
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <a mat-list-item routerLink="/customers">Purchase Order</a>
          <a mat-list-item routerLink="/customers">Line Items</a>
        </mat-nav-list>

      </mat-expansion-panel>


    </mat-sidenav>



    <!-- ############################################################ -->
    <!-- Main content -->
    <!-- ############################################################ -->

    <mat-sidenav-content>


      <!-- ########################################################## -->

      <router-outlet></router-outlet>

      <!-- ########################################################## -->


    </mat-sidenav-content>




  </mat-sidenav-container>


</div>
