/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */
/* @import './w3s-custom-theme.scss';  */


html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow: auto;
  // font-family: 'Roboto', sans-serif;
}


.showTestValues {
  font-family: monospace;
  font-size: 13px;
  color: blue;
  // white-space:pre-line; // preserve new lines
}


// ####################################################################
// Overriding material styles in "app.component.html".
// ####################################################################

.w3s-app-component .mat-sidenav .mat-expansion-panel-body {
  padding: 0 16px 16px 8px; // orig 0 24 16
  // font-size: inherit;//1em;//14px; //0.99em;
}

.w3s-app-component .mat-sidenav .mat-nav-list .mat-list-item .mat-list-item-content {
  padding-left: 8px;
  font-size: 14px;//inherit;//1em;//14px; //0.99em;
}



// ####################################################################
// Overriding material styles in "customer-list.component.html"
// ( and other list components).
// ####################################################################

.w3s-list-component {
  margin: 30px;
}

.w3s-list-component .mat-expansion-panel-header .mat-expansion-panel-header-title {
  font-size: 1rem;
  font-weight: 500;
}
.w3s-list-component .mat-expansion-panel-body {
  padding: 0;
}

.w3s-list-component table .mat-sort-header-button {
  cursor: move;
}

// ####################################################################
// Overriding material styles in "customer-detail.component.html"
// (and other detail components).
// ####################################################################

.w3s-detail-component {
  margin: 30px;
}







// global!?
// used in customer-list, dynamic form

.w3s-flex-box {

  display: flex;

  flex-direction: row;
  align-items: center; // vertical
  justify-content: flex-start; // horizontal
  flex-wrap: wrap; // default = nowrap

  font-size: 14px;
  // padding: 16px p8px 16px 24px;

  .mat-form-field,
  button {
    margin-right: 30px;
  }
}


// Must be global!
.w3s-dialog-panel {
  // margin-top: 400px;
  // height: 200px;
  overflow-y: auto;
}

.w3s-snack-bar {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 600px !important;

  // width: 100%;
  // width: 0px !important;
  // min-width: 0px !important;
  background-color:rgba(255, 0, 0, 0.87); //#fafafa;
  color: rgba(0,0,0,.87);
  font-weight: 500;

  // pointer-events: none;
  // position: absolute;
  // top: 500px;
  // left: 0;
  // height: 100%;
  // width: 100%;
  // z-index: 1000;
}


// /* Master Styles */
// h1 {
//   color: #369;
//   font-family: Arial, Helvetica, sans-serif;
//   font-size: 250%;
// }

// h2,
// h3 {
//   color: #444;
//   font-family: Arial, Helvetica, sans-serif;
//   font-weight: lighter;
// }

// body {
//   margin: 2em;
// }

// body,
// input[text],
// button {
//   color: #888;
//   font-family: Cambria, Georgia;
// }

// a {
//   cursor: pointer;
//   cursor: hand;
// }

// button {
//   font-family: Arial;
//   background-color: #eee;
//   border: none;
//   padding: 5px 10px;
//   border-radius: 4px;
//   cursor: pointer;
//   cursor: hand;
// }

// button:hover {
//   background-color: #cfd8dc;
// }

// button:disabled {
//   background-color: #eee;
//   color: #aaa;
//   cursor: auto;
// }

// /* Navigation link styles */
// nav a {
//   padding: 5px 10px;
//   text-decoration: none;
//   margin-right: 10px;
//   margin-top: 10px;
//   display: inline-block;
//   background-color: #eee;
//   border-radius: 4px;
// }

// nav a:visited,
// a:link {
//   color: #607D8B;
// }

// nav a:hover {
//   color: #039be5;
//   background-color: #CFD8DC;
// }

// nav a.active {
//   color: #039be5;
// }


